[x-cloak] {
  display: none !important;
}

.form-group label {
  margin-bottom: 10px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-width: 0px 5px 10px 0px !important;
  margin-left: -10px !important;
}

.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: transparent transparent #8880 transparent !important;
  border-width: 0 0px 10px 0px !important;
}
.form-group {
  position: relative;
}
