@import "./base/bootstrap-extended/include"; // Bootstrap includes
@import "./base/components/include"; // Components includes

// --- file input button for dark layout ----- //
.dark-layout {
  .form-control {
    &[type="file"] {
      &::file-selector-button {
        background-color: $theme-dark-input-bg;
      }
    }
  }

  .table > :not(:first-child) {
    border-top: 2px solid $theme-dark-input-bg;
  }
}

.main-menu .navbar-header .navbar-brand .brand-text {
  font-size: 1.1rem !important;
}

.dark-layout {
  .table-hover > tbody > tr:hover > * {
    --bs-table-accent-bg: #161d31;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #b4b7bd;
  }

  .table-striped > tbody > tr:nth-of-type(2n + 1) > * {
    --bs-table-accent-bg: #161d31 !important;
  }

  .dataTables_wrapper {
    .dropdown-toggle {
      background: #343d55 !important;
      border: none;
      color: #b4b7bd !important;
    }
    .form-control:disabled,
    .form-control[readonly] {
      background-color: unset !important;
    }
  }
  .flatpickr-calendar {
    background: #161d31;
    border-color: #161d31;
    color: #b4b7bd;
    box-shadow: none;

    .flatpickr-day,
    span.flatpickr-weekday {
      color: #b4b7bd;
    }
  }
  .table tfoot tr th {
    color: #b4b7bd !important;
  }
  th {
    color: #b4b7bd !important;
  }

  .custom-dt {
    select {
      background: #161d31;
      border: 1px solid #39425b;
    }
    .btn.dropdown-toggle {
      background: #161d31;
    }
    .btn.dropdown-toggle:after {
      filter: none;
    }
  }
}

.custom-dt {
  .btn.dropdown-toggle {
    background-color: #f3f2f7;
  }

  .btn.dropdown-toggle::after {
    filter: sepia(100%) saturate(200%) brightness(20%) hue-rotate(330deg);
  }

  select {
    background-color: #f3f2f7;
  }
}
.nav-link.dropdown-toggle {
  background: unset !important;
  color: unset !important;
}

.dt--top-section {
  padding: 0 20px;
}
table.dataTable td,
table.dataTable th {
  font-weight: 500 !important;
}
.badge i,
.badge svg {
  width: 8px !important;
}

.offcanvas-end {
  min-width: 500px !important;
}
@media (max-width: 767.98px) {
  .offcanvas-end {
    min-width: 100% !important;
  }
}

.s-image {
  max-width: 80%;
}

.custom-dt{
    .dropdown-menu {
        transform: scale(1, 1) !important;
    }
}
